* {
    padding: 0;
    margin: 0;
}

html, body {
    height: max-content;
}

body {
    display: grid;
    grid-template-rows: 100vh 120vh 60vh 60vh 150vh;
    justify-items: center;
    font-size: 125%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    overflow: hidden;
}

@media(max-width: 1000px) {
    body {
        font-size: 115%;
    }
}

.div-menu {
    display: grid;
    align-items: center;
    justify-items: center;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr;
    width: 100%;
    height: 100%;
    background: linear-gradient(180deg, white, rgb(154, 212, 183)) no-repeat;
}

fieldset {
    display: block;
    grid-row: 1/1;
    grid-column: 1/1;
    padding: 2rem;
    border-radius: 1rem;
    backdrop-filter: blur(160px);
}

@media(max-width: 1000px) {
    fieldset {
        padding: 1.2rem;
    }
}

hr {
    background-color: rgba(255, 170, 0, 0.486);
    width: 85%;
    height: 50%;
    border-radius: 1rem;
    border-width: 0;
}

@media(max-width: 1000px) {
    hr {
        background-color: rgba(255, 170, 0, 0.6);
        width: 95%;
        height: 35%;
    }
}

.menu {
    display: grid;
    grid-template-rows: 1fr 2fr .5fr 1fr 2fr;
    justify-items: center;
    align-items: center;
    text-align: center;
}

@media(max-width: 1000px) {
    .menu {
        grid-template-rows: 1fr 1.6fr .5fr 1fr 1fr;
    }
}

.fieldset-menu {
    width: 80%;
}

.menu-pergunta {
    padding: 1rem;
}

.menu-resposta {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 60%;
    height: 100%;
    justify-items: center;
    align-items: center;
}

@media(max-width: 1000px) {
    .menu-resposta {
        width: 100%;
    }
}

.menu-resposta input {
    width: 60%;
    height: 35%;
    border-radius: 1rem;
    border: none;
    background-color: #efefef;
    cursor: pointer;
}

.intermediario {
    content: "";
    background: linear-gradient(0deg, black, rgb(55, 55, 55), rgb(154, 212, 183)) no-repeat;
    width: 100%;
    height: 100%;
}

.svg-area {
    aspect-ratio: 960/300;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.svg1 {
    background-image: url('./svgs/layer3.svg');
}

.svg2 {
    background-image: url('./svgs/layer2.svg');
}

.div-menu-sim {
    display: grid;
    grid-template-rows: 1fr 2fr 1fr;
    grid-template-columns: 1fr;
    width: 100%;
    height: 100%;
    background: linear-gradient(180deg, rgba(68, 26, 26), rgb(255, 90, 0), rgb(255, 90, 0), rgb(255, 90, 0), rgba(189, 110, 0, 0.782)) no-repeat;
    color: rgb(255, 255, 255);
    justify-items: center;
}

.fieldset-menu-sim {
    height: 100%;
    width: 80%;
    background-image: url(background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    grid-row: 2/2;
}

.menu-sim {
    display: grid;
    grid-column: 1/1;
    grid-template-rows: 1fr .1fr 2fr;
    justify-items: center;
    align-items: center;
    text-align: center;
    height: 100%;
}

@media(max-width: 1000px) {
    .menu-sim {
        font-size: 85%;
    }
}

.menu-sim-hr {
    background-color: chocolate;
    width: 95%;
    height: 50%;
}

.destinos {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr; 
    align-items: center;
    justify-items: center;
    width: 100%;
    height: 90%;
}

.destinos div {
    padding: 15%;
}

@media(max-width: 1000px) {
    .destinos {
        height: 70%;
        font-size: 100%;
    }
    .destinos div {
        padding: 4%;
    }
}

.destinos div a {
    text-decoration: none;
    color: inherit;
    transition: .2s all;
}

.destinos div a:hover {
    color: rgb(254, 232, 204);
    transition: .2s all;
}
