* {
    padding: 0;
    margin: 0;
}

html, body {
    height: 100%;
}

body {
    display: grid;
    justify-items: center;
    background: linear-gradient(180deg, white, rgb(154, 212, 183)) no-repeat;
    font-size: 125%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    
}

@media(max-width: 1000px) {
    body {
        font-size: 115%;
    }
}

.div-menu {
    display: grid;
    align-items: center;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr;
    width: 75%;
    height: 100%;
}

@media(max-width: 1000px) {
    .div-menu {
        width: 88%;
    }
}

fieldset {
    display: block;
    grid-row: 1/1;
    grid-column: 1/1;
    padding: 2rem;
    border-radius: 1rem;
    backdrop-filter: blur(160px);
}

@media(max-width: 1000px) {
    fieldset {
        padding: 1.2rem;
    }
}

hr {
    background-color: rgba(255, 170, 0, 0.486);
    width: 85%;
    height: 50%;
    border-radius: 1rem;
    border-width: 0;
}

@media(max-width: 1000px) {
    hr {
        background-color: rgba(255, 170, 0, 0.6);
        width: 95%;
        height: 35%;
    }
}

.menu {
    display: grid;
    grid-template-rows: 1fr 2fr .5fr 1fr 2fr;
    justify-items: center;
    align-items: center;
    text-align: center;
}

@media(max-width: 1000px) {
    .menu {
        grid-template-rows: 1fr 1.6fr .5fr 1fr 1fr;
    }
}

.menu.hidden {
    visibility: hidden;
    transition: .4s all ease;
}

.fieldset-menu {
    position: relative;
}

.fieldset-menu.hidden{
    position: absolute;
    width: 70.4%;
    transition: transform .4s ease, height .2s ease;
    transform: translateY(-200%);
}

.menu-pergunta {
    padding: 1rem;
}

.menu-resposta {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 60%;
    height: 100%;
    justify-items: center;
    align-items: center;
}

@media(max-width: 1000px) {
    .menu-resposta {
        width: 100%;
    }
}

.menu-resposta input {
    width: 60%;
    height: 35%;
    border-radius: 1rem;
    border: none;
    background-color: #efefef;
    cursor: pointer;
}

.fieldset-menu-sim.hidden {
    position: absolute;
    transition: 1s ease all;
    transform: translateX(-200%);
}

.fieldset-menu-sim {
    position: relative;
    transition: 1s ease all;
    transition-delay: .28s;
    transform: translateX(0%);
    height: 75%;
}

.menu-sim {
    display: grid;
    grid-column: 1/1;
    grid-template-rows: 1fr .1fr 2fr;
    justify-items: center;
    align-items: center;
    text-align: center;
    height: 100%;
}

@media(max-width: 1000px) {
    .menu-sim {
        font-size: 85%;
    }
}

.menu-sim-hr {
    background-color: chocolate;
    width: 95%;
    height: 50%;
}

.destinos {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr; 
    align-items: center;
    justify-items: center;
    width: 100%;
    height: 90%;
}

.destinos div {
    padding: 15%;
}

@media(max-width: 1000px) {
    .destinos {
        height: 70%;
        font-size: 100%;
    }
    .destinos div {
        padding: 4%;
    }
}

.destinos div a {
    text-decoration: none;
}




