* {
    padding: 0;
    margin: 0;
}

html, body {
    height: 100vh;
}

body {
    display: grid;
    justify-items: center;
    align-items: center;
    background-color: black;
}

body.backwhite {
    background-color: white;
}

.quadrado-spin {
    background-color: white;
    width: 5rem;
    height: 5rem;
}

.quadrado-spin:hover {
    animation: spiin .1ms infinite linear;
}

@keyframes spiin {
    from {
        rotate: 0deg;
    }
    to {
        rotate: 360deg;
    }
}

.orbe {
    background-color: white;
    width: 5rem;
    height: 5rem;
    border-radius: 5rem;
}

.orbe:active {
    animation: charging 10s linear;
}

@keyframes charging {
    0% {
        background-color: rgb(68, 0, 0);
        scale: 1.05;
    }
    5% {
        scale: 1.3;
    }
    10% {
        background-color: rgb(138, 0, 0);
        scale: 1.6;
    }
    15% {
        scale: 2;
    }
    20% {
        background-color: rgb(180, 87, 0);
        scale: 2.4;
    }
    25% {
        scale: 2.8;
    }
    30% {
        background-color: rgb(180, 138, 0);
        scale: 3.2;
    }
    35% {
        scale: 3.6;
    }
    40% {
        background-color: rgb(186, 189, 0);
        scale: 4.1;
    }
    45% {
        scale: 4.6;
    }
    50% {
        background-color: rgb(107, 189, 0);
        scale: 5.3;
    }
    55% {
        scale: 6;
    }
    60% {
        background-color: rgb(0, 189, 16);
        scale: 6.9;
    }
    65% {
        scale: 8.2;
    }
    70% {
        background-color: rgb(0, 189, 173);
        scale: 9.4;
    }
    75% {
        scale: 10.7;
    }
    80% {
        background-color: rgb(0, 98, 189);
        scale: 12.4;
    }
    85% {
        scale: 14;
    }
    90% {
        background-color: rgb(13, 0, 202);
        scale: 16.8;
    }
    95% {
        scale: 19.2;
    }
    97% {
        scale: 21.5;
    }
    99%{
        scale: 23;
    }
    100% {
        background-color: #ffffff;
        scale: 27;
    }
}

.h1secret {
    opacity: 0;
    position: absolute;
    transition: 5s all;
}

.h1secret.backwhite {
    opacity: 1;
}

.orbe.hidden, .quadrado-spin.hidden {
    display: none;
}